<nav>
    <div class="logo-name">
        <div class="logo-image">
            <img src="/image/favicon/apple-touch-icon.png" alt="">
        </div>

        <span class="logo_name">Vbooks</span>
    </div>

    <div class="menu-items">
        <ul class="nav-links">
            <li><a href="#">
                    <i class="uil uil-estate"></i>
                    <span class="link-name">Trang chủ</span>
                </a></li>
            <li><a href="/admin/user/index">
                    <i class="uil uil-user"></i>
                    <span class="link-name">Tài khoản</span>
                </a></li>
            <li><a href="#">
                    <i class="uil uil-print"></i>
                    <span class="link-name">Nhà xuất bản</span>
                </a></li>
            <li><a href="#">
                    <i class="uil uil-edit-alt"></i>
                    <span class="link-name">Tác giả</span>
                </a></li>
            <li><a href="#">
                    <i class="uil uil-list-ul"></i>
                    <span class="link-name">Thể loại</span>
                </a></li>
            <li><a href="#">
                    <i class="uil uil-book-open"></i>
                    <span class="link-name">Sách</span>
                </a></li>
            <li><a href="#">
                    <i class="uil uil-shopping-cart-alt"></i>
                    <span class="link-name">Giỏ hàng</span>
                </a></li>
            <li><a href="#">
                    <i class="uil uil-bill"></i>
                    <span class="link-name">Hóa đơn</span>
                </a></li>
            <li><a href="#">
                    <i class="uil uil-invoice"></i>
                    <span class="link-name">Hóa đơn chi tiết</span>
                </a></li>
            <li><a href="#">
                    <i class="uil uil-chart"></i>
                    <span class="link-name">Thống kê</span>
                </a></li>
        </ul>

        <ul class="logout-mode">
            <li><a href="#">
                    <i class="uil uil-signout"></i>
                    <span class="link-name">Đăng xuất</span>
                </a></li>

            <li class="mode">
                <a href="#">
                    <i class="uil uil-moon"></i>
                    <span class="link-name">Chế độ tối</span>
                </a>

                <div class="mode-toggle">
                    <span class="switch"></span>
                </div>
            </li>
        </ul>
    </div>
</nav>