<div class="sidebar">
    <h2>Dashboard</h2>
    <ul>
        <li><a href="/"><i class="fa-solid fa-house"></i> Trang chủ</a></li>
        <li><a href="/admin/user/index"><i class="fa-solid fa-user"></i> Tài khoản</a></li>
        <li><a href="/admin/publisher/index"><i class="fa-solid fa-building"></i> Nhà xuất bản</a></li>
        <li><a href="/admin/author/index"><i class="fa-solid fa-pen-nib"></i> Tác giả</a></li>
        <li><a href="/admin/category/index"><i class="fa-solid fa-layer-group"></i> Thể loại</a></li>
        <li><a href="/admin/book/index"><i class="fa-solid fa-book"></i> Sách</a></li>
        <li><a href="/admin/statistic/index"><i class="fa-solid fa-chart-bar"></i> Thống kê</a></li>
        <li><a href="/logout"><i class="fa-solid fa-right-from-bracket"></i> Đăng xuất</a></li>
    </ul>
</div>