<div class="container mt-5">
    <form class="row g-3">
        <div class="col-md-6">
            <label for="inputFullName" class="form-label"><span class="text">Họ và Tên</span></label>
            <input type="text" class="form-control" id="inputFullName">
        </div>
        <div class="col-md-6">
            <label for="inputEmail4" class="form-label text">Email</label>
            <input type="email" class="form-control" id="inputEmail4">
        </div>
        <div class="col-md-6">
            <label for="inputPassword4" class="form-label">Mật khẩu</label>
            <input type="password" class="form-control" id="inputPassword4">
        </div>
        <div class="col-md-6">
            <label for="inputPhone" class="form-label">Số điện thoại</label>
            <input type="text" class="form-control" id="inputPhone">
        </div>
        <div class="col-12">
            <label for="inputAddress" class="form-label">Địa chỉ</label>
            <input type="text" class="form-control" id="inputAddress"
                placeholder="123 Đường Lê Lợi, Quận 1, TP. Hồ Chí Minh">
        </div>
        <div class="col-12">
            <label class="mb-2 d-block">Quyền</label>
            <div class="d-flex gap-3 align-items-center">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioRole" id="flexRadioRole1">
                    <label class="form-check-label" for="flexRadioRole1">
                        Khách hàng
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioRole" id="flexRadioRole2" checked>
                    <label class="form-check-label" for="flexRadioRole2">
                        Admin
                    </label>
                </div>
            </div>
        </div>
        <div class="col-12">
            <label class="mb-2 d-block">Trạng thái</label>
            <div class="d-flex gap-3 align-items-center">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioActive" id="flexRadioActive1">
                    <label class="form-check-label" for="flexRadioActive1">
                        Khóa
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioActive" id="flexRadioActive2" checked>
                    <label class="form-check-label" for="flexRadioActive2">
                        Hoạt động
                    </label>
                </div>
            </div>
        </div>
        <div class="col-12">
            <label for="inputAddress" class="form-label">Trạng thái</label>
            <input type="text" class="form-control" id="inputAddress"
                placeholder="123 Đường Lê Lợi, Quận 1, TP. Hồ Chí Minh">
        </div>

        <div class="row justify-content-center mt-2">
            <div class="col-4">
                <button type="submit" class="btn btn-primary">Thêm</button>
            </div>
            <div class="col-4">
                <button type="submit" class="btn btn-success">Sửa</button>
            </div>
            <div class="col-4">
                <button type="submit" class="btn btn-danger">Xóa Form</button>
            </div>
        </div>
    </form>
</div>