body {
    display: flex;
}

.sidebar {
    min-width: 250px;
    background-color: #343a40;
    color: white;
    padding: 20px;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
}

.sidebar h2 {
    text-align: center;
    margin-bottom: 20px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin: 15px 0;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px;
    border-radius: 5px;
    transition: background 0.3s;
}

.sidebar ul li a:hover {
    background-color: #495057;
}

.content {
    margin-left: 250px;
    /* Để tránh bị đè lên bởi sidebar */
    padding: 20px;
    flex-grow: 1;
    background-color: #f8f9fa;
    min-height: 100vh;
}